.socialIcons {
  display: flex;
  align-items: center;
}

.topBar {
  display: flex;
  justify-content: flex-end; /* Use flex-end for clarity */
  align-items: center;
  background: linear-gradient(
    120deg,
    rgba(3, 57, 137, 0.6) 0%,
    rgba(3, 57, 137, 0.80) 100%
  ); /* Enhanced glassy ocean blue gradient */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 4px 24px 0 rgba(19, 82, 177, 0.10); /* Soft shadow for depth */
  padding: 0.5rem 1rem;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  border-radius: 0 0 0.75rem 0.75rem;
  transition: background 0.3s, box-shadow 0.3s;
}

.leftContent {
  /* You can add content here if needed, e.g., a logo or text */
  flex-grow: 1; /* Allows it to take up available space */
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .topBar {
    flex-direction: column;
    padding: 0.25rem;
  }

  .socialIcons {
    margin-top: 0.25rem;
 }

}